/* ---------------------------------
p-hero
--------------------------------- */
.p-hero{
    &__container{
        width: 70%;
        min-width: 768px;
        margin: 0 auto;
        padding: $space_8l 0 $space_7l;
        @include mq(){
            width: 100%;
            min-width: 100px;
            margin: $space_2l auto;
            padding: $space_m;
            box-sizing: border-box;
        }
    }
    &__copy{
        margin: $space_4l 0 $space_6l;
        text-align: center;
        font-size: 80px;
        font-weight: bold;
        color: $color_base;
        animation: tremble 2s infinite;
        @include mq(){
            @include fontsizeVw(80)
        }
        &--sub{
            font-size: $font-size_2l;
            font-weight: bold;
            color: $color_base;
            @include mq(){
                @include fontsizeVw(24)
            }
        }
    }
    &__text{
        margin: $space_l 0 $space_4l;
        font-size: $font-size_m;
        color: $color_dark075;
        line-height: 1.8;
    }
    &__btn{
        @include mq(){
            margin:0 0 $space_l;
        }
    }
    &__btn__group{
        width: 50%;
        min-width: 768px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        @include mq(){
            width: 100%;
            min-width: 100px;
            box-sizing: border-box;
            flex-direction: column;
        }
    }
}

//アニメーション
@keyframes tremble {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    68% {transform: translate(0px, 0px) rotateZ(0deg)}
    70% {transform: translate(2px, 2px) rotateZ(1deg)}
    72% {transform: translate(0px, 2px) rotateZ(0deg)}
    74% {transform: translate(2px, 0px) rotateZ(-1deg)}
    76% {transform: translate(0px, 0px) rotateZ(0deg)}
    78% {transform: translate(2px, 2px) rotateZ(1deg)}
    80% {transform: translate(0px, 2px) rotateZ(0deg)}
    82% {transform: translate(2px, 0px) rotateZ(-1deg)}
    84% {transform: translate(0px, 0px) rotateZ(0deg)}
    86% {transform: translate(2px, 2px) rotateZ(1deg)}
    88% {transform: translate(0px, 2px) rotateZ(0deg)}
    90% {transform: translate(2px, 0px) rotateZ(-1deg)}
    92% {transform: translate(0px, 0px) rotateZ(0deg)}
    94% {transform: translate(2px, 2px) rotateZ(1deg)}
    96% {transform: translate(0px, 2px) rotateZ(0deg)}
    98% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
