/* ---------------------------------
p-message
--------------------------------- */
.p-message {
    &__container {
        width: 150px;
        height: 150px;
        padding: $space_m;
        box-sizing: border-box;
        position: fixed;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        display: flex;
        flex-flow: column;
        justify-content: center;
        background: $color_base;
        box-shadow: 0 3px 6px $color_dark075;
        text-align: center;
        z-index: 1;
        opacity: 0;
        transition: all 0.8s;

        &--success {
            color: $color_main;
        }

        &--error {
            color: $color_accent;
        }

        &.is-active {
            opacity: 1;
        }
    }

    &__icon {
        margin-bottom: $space_s;
        font-size: 52px;
    }

    &__text {
        font-size: $font-size_s;
    }
}
