@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------
variables
--------------------------------- */

/* ---------------------------------
mixin
--------------------------------- */

/* ---------------------------------
base
--------------------------------- */

body,
html {
  width: 100%;
  color: #272B2D;
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  box-sizing: border-box;
  counter-reset: my-counter;
}

.wrapper--main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p,
a {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: #F8FCFF;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3.2rem;
  color: #F8FCFF;
}

h1 a {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3.2rem;
  color: #F8FCFF;
}

h2 {
  font-size: 2.4rem;
  color: white;
}

h3 {
  font-size: 2.8rem;
  color: white;
  font-weight: bold;
}

/* ---------------------------------
footer
--------------------------------- */

.l-footer {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  background: #8B98A2;
}

@media screen and (max-width: 768px) {
  .l-footer {
    justify-content: center;
  }
}

.l-footer .copyright {
  margin-left: 15px;
  font-size: 1.2rem;
  color: white;
}

.l-footer .info {
  margin-right: 15px;
  font-size: 1.2rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .l-footer .info {
    display: none;
  }
}

.l-footer .info .footer-menu {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.l-footer .info .footer-menu__list {
  margin-left: 5px;
}

/* ---------------------------------
header
--------------------------------- */

.l-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #8B98A2;
}

@media screen and (max-width: 768px) {
  .l-header {
    padding: 0 5px;
    box-sizing: border-box;
  }
}

.l-header .logo {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .l-header .logo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .l-header nav {
    display: none;
  }
}

.l-header .nav-menu {
  height: 50px;
  margin-right: 15px;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.l-header .nav-menu__list {
  margin-left: 5px;
  font-size: 1.4rem;
  color: white;
}

.l-header .nav-menu__list p {
  cursor: pointer;
}

.l-header .nav-menu__icon {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .l-header .sp__icon {
    font-size: 2.4rem;
  }
}

.l-header .sp__icon__container {
  display: none;
}

@media screen and (max-width: 768px) {
  .l-header .sp__icon__container {
    display: block;
    width: 10%;
    align-self: center;
    text-align: center;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .l-header .sp__icon--text {
    line-height: 1;
    font-size: 1.4rem;
  }
}

/* ---------------------------------
main
--------------------------------- */

.l-main {
  width: 100%;
  flex-grow: 1;
}

.l-main--main {
  background: #B8DDF7;
}

.l-main--accent {
  background: #FFCCBA;
}

.l-main--base {
  background: white;
}

@media screen and (max-width: 768px) {
  .l-main--base {
    background: #B8DDF7;
  }
}

.l-main--base--sub {
  background: #F8FCFF;
}

@media screen and (max-width: 768px) {
  .l-main--base--sub {
    background: #B8DDF7;
  }
}

.l-main__inner {
  max-width: 1024px;
  margin: 0 auto;
}

.l-hero {
  width: 100%;
  background: #B8DDF7;
}

.l-user {
  width: 100%;
}

/* ---------------------------------
c-form
--------------------------------- */

.c-form {
  position: relative;
}

.c-form__container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-form__container {
    width: 100%;
    box-sizing: border-box;
    min-width: 100px;
  }
}

.c-form__err {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #FF0A0A;
}

.c-form__label {
  font-size: 1.6rem;
}

.c-form__label--check {
  margin-top: 10px;
  font-size: 1.4rem;
}

.c-form--contact input[type=text],
.c-form--contact input[type=email],
.c-form--contact input[type=password] {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #E7EAEC;
  font-size: 1.6rem;
}

.c-form--contact input[type=text]::-webkit-input-placeholder,
.c-form--contact input[type=email]::-webkit-input-placeholder,
.c-form--contact input[type=password]::-webkit-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact input[type=text]::-moz-placeholder,
.c-form--contact input[type=email]::-moz-placeholder,
.c-form--contact input[type=password]::-moz-placeholder {
  color: #C9D0D6;
}

.c-form--contact input[type=text]:-ms-input-placeholder,
.c-form--contact input[type=email]:-ms-input-placeholder,
.c-form--contact input[type=password]:-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact input[type=text]::-ms-input-placeholder,
.c-form--contact input[type=email]::-ms-input-placeholder,
.c-form--contact input[type=password]::-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact input[type=text]::placeholder,
.c-form--contact input[type=email]::placeholder,
.c-form--contact input[type=password]::placeholder {
  color: #C9D0D6;
}

.c-form--contact input[type=text].invalid,
.c-form--contact input[type=email].invalid,
.c-form--contact input[type=password].invalid {
  border: 2px solid #FF0A0A;
}

.c-form--contact textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #E7EAEC;
  font-size: 1.6rem;
}

.c-form--contact textarea::-webkit-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact textarea::-moz-placeholder {
  color: #C9D0D6;
}

.c-form--contact textarea:-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact textarea::-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--contact textarea::placeholder {
  color: #C9D0D6;
}

.c-form--contact textarea.invalid {
  border: 2px solid #FF0A0A;
}

.c-form--contact input[type=submit],
.c-form--contact input[type=button] {
  margin-top: 15px;
  position: relative;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .c-form--contact input[type=submit],
  .c-form--contact input[type=button] {
    width: 100%;
    margin: 5px 0 15px;
  }
}

.c-form--list input[type=text] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #E7EAEC;
  font-size: 1.6rem;
}

.c-form--list input[type=text]::-webkit-input-placeholder {
  color: #C9D0D6;
}

.c-form--list input[type=text]::-moz-placeholder {
  color: #C9D0D6;
}

.c-form--list input[type=text]:-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--list input[type=text]::-ms-input-placeholder {
  color: #C9D0D6;
}

.c-form--list input[type=text]::placeholder {
  color: #C9D0D6;
}

.c-form--list input[type=text].invalid {
  border: 2px solid #FF0A0A;
}

.c-form--list input[type=submit],
.c-form--list input[type=button] {
  margin-top: 15px;
  position: relative;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .c-form--list input[type=submit],
  .c-form--list input[type=button] {
    width: 100%;
  }
}

.c-form--list__title {
  margin-bottom: 15px;
}

/* ---------------------------------
c-button
--------------------------------- */

.c-btn {
  margin-bottom: 15px;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 3px 3px #8B98A2;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.c-btn:hover {
  box-shadow: 0 5px 5px 0 #8B98A2;
  transition: all 0.3s ease-out;
}

.c-btn__group {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .c-btn__group {
    flex-direction: column-reverse;
  }
}

.c-btn__square--large {
  width: 100%;
  padding: 10px 30px;
}

.c-btn__square--middle {
  width: 100%;
  padding: 5px 30px;
}

.c-btn__square--small {
  width: 47%;
  padding: 10px 30px;
}

@media screen and (max-width: 768px) {
  .c-btn__square--small {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .c-btn__square--small--back {
    width: 100%;
    margin-top: 0;
    padding: 5px 30px;
    font-size: 1.4rem;
  }
}

.c-btn__square--flexible {
  margin: 0 10px;
  padding: 5px 30px;
}

.c-btn__round {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 90px;
  background: white;
  color: #B8DDF7;
  line-height: 150px;
  font-size: 2.4rem;
  font-weight: bold;
}

.c-btn__round a {
  color: #B8DDF7;
}

.c-btn--main {
  background: #B8DDF7;
  border: 1px solid #B8DDF7;
  color: white;
}

.c-btn--accent {
  background: #FFCCBA;
  border: 1px solid #FFCCBA;
  color: white;
}

.c-btn--base {
  background: #E7EAEC;
  border: 1px solid #E7EAEC;
  color: #8B98A2;
}

.c-btn--twitter {
  background: white;
  border: 3px solid #00acee;
  color: #00acee;
}

.c-btn--random {
  background: white;
  border: 1px solid #E7EAEC;
  color: #B8DDF7;
}

.c-btn__sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-btn__sp {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    right: 7%;
    bottom: 30px;
    background: #FFCCBA;
  }
}

@media screen and (max-width: 768px) {
  .c-btn__sp__icon {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 3.2rem;
  }
}

/* ---------------------------------
c-accordion
--------------------------------- */

.c-accordion {
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-accordion {
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
  }
}

.c-accordion__tab {
  display: none;
}

.c-accordion__tab:checked + label + .c-accordion__content {
  height: auto;
  padding: 0 30px;
  background: white;
  opacity: 1;
  transition: all 0.5s;
  font-size: 1.6rem;
}

.c-accordion__tab:checked + label::before {
  content: "\F0D7";
}

.c-accordion__label {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: block;
  background: white;
  font-size: 1.6rem;
  color: #B8DDF7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .c-accordion__label {
    font-size: 1.6rem;
  }
}

.c-accordion__label::before {
  content: "\F0DA";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  padding-right: 8px;
}

.c-accordion__content {
  width: 100%;
  height: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
}

/* ---------------------------------
p-form
--------------------------------- */

.p-form__container {
  width: 40%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #B8DDF7;
}

@media screen and (max-width: 768px) {
  .p-form__container {
    width: 100%;
    margin: 25px auto;
    padding: 10px;
  }
}

.p-form__title {
  text-align: center;
  margin-bottom: 25px;
}

.p-form__text {
  margin: 15px 0;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* ---------------------------------
p-list
--------------------------------- */

.p-list__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #B8DDF7;
}

@media screen and (max-width: 768px) {
  .p-list__container {
    width: 100%;
    margin: 25px auto;
    padding: 10px;
  }
}

.p-list__title {
  margin-bottom: 15px;
}

.p-list__text {
  margin: 15px 0;
  font-size: 1.4rem;
  color: #8B98A2;
  line-height: 1.8;
}

.p-list__btn__group {
  margin-top: 25px;
}

/* ---------------------------------
p-prepare
--------------------------------- */

.p-prepare__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #B8DDF7;
}

@media screen and (max-width: 768px) {
  .p-prepare__container {
    width: 100%;
    margin: 25px auto;
    padding: 10px;
  }
}

.p-prepare__title {
  margin-bottom: 15px;
}

.p-prepare__text {
  margin: 15px 0;
  font-size: 1.4rem;
  color: #8B98A2;
  line-height: 1.8;
}

.p-prepare__btn__group {
  margin-top: 20px;
}

.p-prepare__list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 768px) {
  .p-prepare__list {
    width: 100%;
    box-sizing: border-box;
    min-width: 100px;
  }
}

.p-prepare__list__item {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
  background: white;
  border: 1px solid #E7EAEC;
  font-size: 1.6rem;
}

.p-prepare__list__item::after {
  position: absolute;
  top: 0;
  right: 3%;
  font-family: "Font Awesome 5 Free";
  content: "\F0C9";
  font-size: 2.4rem;
  font-weight: bold;
  color: #B8DDF7;
  cursor: move;
}

.prepare-move {
  transition: transform 0.7s;
}

/* ---------------------------------
p-hero
--------------------------------- */

.p-hero__container {
  width: 70%;
  min-width: 768px;
  margin: 0 auto;
  padding: 80px 0 70px;
}

@media screen and (max-width: 768px) {
  .p-hero__container {
    width: 100%;
    min-width: 100px;
    margin: 25px auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

.p-hero__copy {
  margin: 40px 0 60px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 768px) {
  .p-hero__copy {
    font-size: 10.4166666667vw;
  }
}

.p-hero__copy--sub {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 768px) {
  .p-hero__copy--sub {
    font-size: 3.125vw;
  }
}

.p-hero__text {
  margin: 15px 0 40px;
  font-size: 1.6rem;
  color: #8B98A2;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .p-hero__btn {
    margin: 0 0 15px;
  }
}

.p-hero__btn__group {
  width: 50%;
  min-width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .p-hero__btn__group {
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
    flex-direction: column;
  }
}

/* ---------------------------------
p-user
--------------------------------- */

.p-user__container {
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-user__container {
    width: 100%;
    margin: 25px auto;
    padding: 10px;
    box-sizing: border-box;
  }
}

.p-user__text {
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #8B98A2;
}

@media screen and (max-width: 768px) {
  .p-user__btn {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
}

/* ---------------------------------
p-mypage
--------------------------------- */

.p-mypage__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #B8DDF7;
}

@media screen and (max-width: 768px) {
  .p-mypage__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.p-mypage__title {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .p-mypage__title {
    display: none;
  }
}

.p-mypage__text {
  margin: 15px 0;
  font-size: 1.4rem;
  color: #8B98A2;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .p-mypage__text {
    display: none;
  }
}

.p-mypage__btn__group {
  margin: 25px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-mypage__btn__group {
    display: none;
  }
}

.p-mypage__btn--delete {
  border: 0;
  color: #B8DDF7;
  font-size: 1.6rem;
  cursor: pointer;
}

.p-mypage__btn--delete:focus {
  outline: 0;
}

.p-mypage__list__item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: white;
  border: 1px solid #E7EAEC;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .p-mypage__list__item {
    padding: 15px 10px;
  }
}

.p-mypage__list__item--left {
  display: inline-block;
  width: 80%;
  color: #272B2D;
}

.p-mypage__list__item--right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  color: #B8DDF7;
  text-align: right;
  cursor: pointer;
}

.p-mypage__list__item--right a {
  color: #B8DDF7;
}

.p-mypage__icon {
  margin: 0 5px;
}

.p-mypage__sp__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-mypage__sp__menu {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .p-mypage__sp__menu--left {
    width: 50%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #E7EAEC;
    background: white;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .p-mypage__sp__menu--right {
    width: 50%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #E7EAEC;
    background: #B8DDF7;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .p-mypage__sp__link {
    font-size: 2rem;
    color: #8B98A2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 80px;
  }
}

/* ---------------------------------
p-history
--------------------------------- */

.p-history__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #B8DDF7;
}

@media screen and (max-width: 768px) {
  .p-history__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.p-history__title {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .p-history__title {
    display: none;
  }
}

.p-history__text {
  margin: 15px 0;
  font-size: 1.4rem;
  color: #8B98A2;
  line-height: 1.8;
}

.p-history__btn__group {
  margin: 25px;
  text-align: center;
}

.p-history__head {
  width: 100%;
  padding: 10px 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: white;
  border: solid #E7EAEC;
  border-width: 1px 1px 0 1px;
  font-size: 1.6rem;
}

.p-history__head--left {
  width: 70%;
}

.p-history__head--right {
  width: 15%;
}

.p-history__head--right.completed {
  background: url(/images/perfect.png?f7701f45654313ee5e95f0474edf95b8) no-repeat;
  background-size: contain;
}

.p-history__head--right.incomplete {
  background: url(/images/incomplete.png?5e0b5904f1158c57ed3f92346a3b18c0) no-repeat;
  background-size: contain;
}

.p-history__list--sub {
  counter-reset: my-counter;
}

.p-history__list__item {
  width: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
  background: white;
  font-size: 1.6rem;
}

.p-history__list__item--sub {
  padding-left: 15px;
}

.p-history__list__item--sub::before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  color: #272B2D;
}

.p-history__icon {
  margin: 0 5px;
}

.p-history__sp__menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-history__sp__menu {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .p-history__sp__menu--left {
    width: 50%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #E7EAEC;
    background: #B8DDF7;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .p-history__sp__menu--right {
    width: 50%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #E7EAEC;
    background: white;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .p-history__sp__link {
    font-size: 2rem;
    color: #8B98A2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 80px;
  }
}

/* ---------------------------------
p-procedure
--------------------------------- */

.p-procedure__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .p-procedure__container {
    width: 100%;
    margin: 25px auto;
    padding: 10px;
  }
}

.p-procedure__title {
  margin-bottom: 15px;
}

.p-procedure__text {
  margin: 15px 0;
  font-size: 2rem;
  color: #8B98A2;
  line-height: 2;
}

.p-procedure__text__container {
  width: 100%;
  margin-bottom: 80px;
}

.p-procedure__text--left {
  text-align: left;
}

.p-procedure__text--center {
  text-align: center;
  font-size: 60px;
  color: white;
}

.p-procedure__text--right {
  text-align: right;
}

.p-procedure__btn__group {
  margin: 60px;
  text-align: center;
}

.p-procedure__suspension {
  padding: 5px 10px;
  font-size: 1.4rem;
  background: #E7EAEC;
  color: #8B98A2;
  border: 1px solid #C9D0D6;
}

/* ---------------------------------
p-complete
--------------------------------- */

.p-complete__container {
  width: 50%;
  margin: 60px auto;
  padding: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .p-complete__container {
    width: 100%;
    padding: 10px;
  }
}

.p-complete__title {
  margin-bottom: 40px;
  text-align: center;
  color: #8B98A2;
}

.p-complete__img__container {
  width: 300px;
  height: 300px;
  margin: 0 auto 40px;
  border-radius: 180px;
  background: white;
  overflow: hidden;
}

.p-complete__img {
  width: 100%;
  height: auto;
}

.p-complete__text {
  text-align: center;
  font-size: 1.6rem;
  color: #8B98A2;
  line-height: 1.6;
}

.p-complete__btn__group {
  margin: 30px;
  text-align: center;
}

/* ---------------------------------
p-message
--------------------------------- */

.p-message__container {
  width: 150px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: white;
  box-shadow: 0 3px 6px #8B98A2;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.8s;
}

.p-message__container--success {
  color: #B8DDF7;
}

.p-message__container--error {
  color: #FFCCBA;
}

.p-message__container.is-active {
  opacity: 1;
}

.p-message__icon {
  margin-bottom: 5px;
  font-size: 52px;
}

.p-message__text {
  font-size: 1.4rem;
}

/* ---------------------------------
p-header__sp
--------------------------------- */

.p-header__sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-header__sp {
    display: block;
    width: 70vw;
    height: 100vh;
    background: rgba(139, 152, 162, 0.85);
    position: absolute;
    top: 0px;
    opacity: 1;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }

  .p-header__sp--left {
    left: 0;
    transform: translateX(-70vw);
  }

  .p-header__sp--right {
    right: 0;
    transform: translateX(70vw);
  }

  .p-header__sp.active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  .p-header__sp__icon {
    font-size: 2.4rem;
    text-align: center;
  }

  .p-header__sp__icon__container {
    width: 50px;
    position: absolute;
    top: 7px;
    text-align: center;
    color: white;
  }

  .p-header__sp__icon__container--left {
    left: 6px;
  }

  .p-header__sp__icon__container--right {
    right: 6px;
  }

  .p-header__sp__icon__container--text {
    line-height: 1;
    font-size: 1.4rem;
  }

  .p-header__sp__menu {
    margin-top: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .p-header__sp__menu--left {
    text-align: left;
  }

  .p-header__sp__menu--right {
    text-align: right;
  }

  .p-header__sp__menu__list {
    margin: 10px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }

  .p-header__sp__menu__list--user {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: white;
  }

  .p-header__sp__menu__list--user span {
    font-size: 1.6rem;
  }

  .p-header__sp__menu__list a {
    font-size: 1.8rem;
    color: white;
  }
}

/* ---------------------------------
p-pagination
--------------------------------- */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-item {
  margin: 0 5px;
  padding: 5px 10px;
  background: white;
  font-size: 1.6rem;
  color: #8B98A2;
}

.page-item .page-link {
  color: #8B98A2;
}

.page-item.active {
  background: #FFCCBA;
}

